#chart-data {
	border: 1px solid blue
}

#chart-area {
	border: 1px solid black
}

.row {
	height: 700px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

svg > rect {
	fill : grey;
	y: 0
}