#chart-area {
	border: 1px solid black
}

.row {
	height: 700px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.axis-label {
	font-size: 25px;
	text-anchor: middle;
}

svg>g>rect {
	fill: grey;
	y: 0
}
